---
title: Fridge
pagetitle: In Your Fridge
navcell1: Back
navcell2: Add Item
---

<% 
#fake data for template
purchase_date = 'one week ago'
@items = [
	{'name' => 'Apples','date_purchased' => purchase_date},
	{'name' => 'Eggs', 'date_purchased' => purchase_date},
	{'name' => 'Provelone', 'date_purchased' => purchase_date},
	{'name' => 'Clementines', 'date_purchased' => purchase_date},
	{'name' => 'Milk', 'date_purchased' => purchase_date},
	{'name' => 'Orange Juice', 'date_purchased' => purchase_date}
]
 %>

<table class="inventory-item-list">
	<thead>
		<tr>
			<th>Item</th>
			<th>Bought It</th>
		</tr>
	</thead>
	<tbody>
	<% @items.each do |item| %>
		<tr>
			<td><%= item['name'] %></td>
			<td><%= item['date_purchased'] %></td>
		</tr>
	<% end %>
	</tbody>
</table>

